# Only for Docker Deployment

BOT_TOKEN=7101309513:AAFch9CExFpQXNeNTxduPCJQqAnN2uqZvjk # Get it from @botfather

API_ID=12799559

API_HASH=077254e69d93d08357f25bb5f4504580

SESSION_STRING=BQDDTkcAU0d-SdoaRXiT0E5SSsEF8__LWGvr0mz-fWpreKIEy2WamkA2zdVNN4wKJMnPLT_XQQeswpCdZnG6c9j8lXqp0UeVfueXjVCjhTr3Uj34m_849qJIJlXV_frd9PpN6F-1g51DMb6yZX-48fnvby2iFx-AvC_MYb8_vb0bP14HLEIm9FLQXhO6vju4mVXaehB8RvCYCR1diBS3a2hY9oM458cRJcV18MNiJAHkdaX-rAW1ZzVvoUJT22MoN9uLZjmw17DVvnpKQEtUalhggqt64KpQlQl3QCPSOA3mK2OqCjdNNGUwZriMP4BtNe0w-WQrmmVxXscRGSWkHBk6k5k7iwAAAAGbl5ioAA # Check Readme to generate sessions

USERBOT_PREFIX=.

SUDO_USERS_ID=682966383 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1001535538162

GBAN_LOG_GROUP_ID=-1001535538162

MESSAGE_DUMP_CHAT=-1001535538162

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://test:test@cluster0.q9llhnj.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

ARQ_API_URL=https://arq.hamker.dev # Leave it like this

ARQ_API_KEY=KHPQZK-HUFQBO-QWCJRY-YARXNK-ARQ # Get it from @ARQRobot

LOG_MENTIONS=1 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

PM_PERMIT=1 # fill 0 to disable it
